{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
  <section class="main-content">
    <h1>Welcome to Love & Joy Kiddie’s Day Care</h1>
    <p>Where learning meets laughter!</p>

    <img
      src="{% static 'images/daycare_bg.jpg' %}"
      alt="Daycare"
      class="home-hero"
    />

    <div class="center-btn">
      <a href="{% url 'signup' %}" class="button">Get Started</a>
      <a href="{% url 'login' %}" class="button">Parent Login</a>
    </div>
  </section>
</div>
{% endblock %}
