{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
  <section class="main-content">
    <h1>Welcome to Love & Joy Kiddie’s Day Care</h1>

    <p style="text-align: center; font-size: 1.1rem">
      Where learning meets laughter!
    </p>

    <img
      src="{% static 'images/daycare_bg.jpg' %}"
      alt="Daycare"
      class="hero-img"
    />

    <div class="center-btn">
      <a class="button" href="{% url 'signup' %}">Get Started</a>
      <a class="button secondary" href="{% url 'login' %}">Parent Login</a>
    </div>
  </section>
</div>
{% endblock %}
